# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language):

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
1. Pandas
1. Matplotlib

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|VS Code|

###Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

__Objectives:__
List popular languages for Data Science
* python
* R
* SQL

## Author
Asish Debnath